@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.aaa {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 2px #fafafd;
    border-radius: 20px;
    overflow: hidden;
    color: #1c1c1c;
    font-weight: 600;
    background-color: #d0eaff;

    &_pulse {
        animation: gelatine 0.8s infinite ease-in-out alternate;
    }
}

.inputWrapper {
    padding: 20px 24px;
}

.prediction {
    width: 100%;
    text-align: center;
}

.progress {
    $gray: #f5f5f5;
    $blue: #c1d4df;

    transition: all 1s;
    width: 100%;
    height: 20px;
    background-image: linear-gradient(
        to right bottom,
         $gray, $gray 24%, $blue 26%, $blue 49%,
         $gray 51%, $gray 74%, $blue 76%, $blue
        );
    background-size: 40px 40px;

    &__inner {
        $yellow: #ffdb9a;
        $yellow-cool: #f6ad26;

        transition: all 1s;
        background-color: red;
        width: 0;
        height: 100%;
        background-image: linear-gradient(
            to right bottom,
            $yellow, $yellow 24%, $yellow-cool 26%, $yellow-cool 49%,
            $yellow 51%, $yellow 74%, $yellow-cool 76%, $yellow-cool
        );
        background-size: 40px 40px;
    }
}